body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#droot {
    height: 100vh;
}

.flex-fill {
    flex: 1 1 auto;
}


.navigator {
    background-color: forestgreen;
    text-align: center;
}

.navigator .selector .choice {
    background-color: mediumseagreen;
    color: #ffffff !important;
    cursor: pointer;
    padding-top: 15px;
    font-size: 1.5em;
}

.navigator .selector .choice:hover {
    background-color: #7db396;
}

.navigator .icon {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
}

.sub-page-title {
    font-size: 2em;
    font-weight: bold;
}

/* page picker */
#page-picker {
}

.numbers-holder {
}

.number-holder {
    float: left;
    padding: 0 3px;
}

.number-holder:hover {
    cursor: pointer;
    background-color: #7db396;
}

/* children lister */
.children-lister {
    margin-top: 10px;
}

.children-lister .control-bar {
}

.children-lister .control-bar select {
}

.children-lister .control-bar .title {
    font-size: 1.5em;
    font-weight: bold;
}

.children-lister .control-bar .controls {
}

.children-lister .control-bar .controls .control {
}

.children-lister .list-area {
    height: 500px;
}

.children_lister .list-area .item {
}

/* items browser */
#items-browser {
}

.browser-title {
    font-weight: bold;
    font-size: 2em;
    float: left;
}

.add-item-link {
    font-weight: bold;
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 5px;
    text-decoration: none;
    color: green;
}

.add-item-link:hover {
    background-color: mediumseagreen;
    text-decoration: none;
    color: white;
}

.browser-headers {
    font-size: 1.5em;
    font-weight: bold;
}

.browser-list-line {

}

.browser-list-line:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* item editors */
.item-editor {
}

.item-editor .edit-form-final-buttons {
    margin-top: 5px;
}

.item-editor .list-box {
}

.item-editor .list-title {
    font-weight: bold;
    font-size: 1.25em;
}

.item-editor .list-item {
}

.item-editor .list-item button {
    text-align: center !important;
}

/* meal code colors */
.mc-highlight-1 {
    color: rgba(255, 255, 255, .8);
    background-color: rgba(37, 105, 53, 1)
}

.mc-highlight-2 {
    color: rgba(255, 255, 255, .8);
    background-color: darkorange;
}

.mc-highlight-3 {
    color: rgba(255, 255, 255, .8);
    background-color: pink;
}

.mc-highlight-4 {
    color: rgba(0, 0, 0, .8);
    background-color: yellow;
}

.mc-highlight-5 {
    color: rgba(255, 255, 255, .8);
    background-color: orange;
}

.mc-highlight-6 {
    color: rgba(255, 255, 255, .8);
    background-color: red;
}


/* dev work flags */
.under-construction {
    background-color: rgba(255, 255, 0, .2)
}


/* datepicker */
.react-datepicker-wrapper{
    width: 100%;
}
.react-datepicker-wrapper input{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s
}